## SAU I360 File

ADMIN_CONTACTS:
  emails:
  - tech.support@serversaustralia.com.au
AUTO_WHITELIST:
  after_unblock_timeout: 1440
  timeout: 1440
BACKUP_RESTORE:
  cl_backup_allowed: true
  cl_on_premise_backup_allowed: false
  max_days_in_backup: 90
BLOCKED_PORTS:
  default_mode: allowed
CAPTCHA:
  cert_refresh_timeout: 3600
CAPTCHA_DOS:
  enabled: true
  max_count: 100
  time_frame: 21600
  timeout: 864000
CSF_INTEGRATION:
  catch_lfd_events: true
DOS:
  default_limit: 250
  enabled: true
  interval: 30
  port_limits: {}
ERROR_REPORTING:
  enable: true
INCIDENT_LOGGING:
  limit: 100000
  min_log_level: 4
  num_days: 100
  ui_autorefresh_timeout: 10
KERNELCARE:
  edf: false
MALWARE_CLEANUP:
  keep_original_files_days: 14
  trim_file_instead_of_removal: true
MALWARE_SCANNING:
  cloud_assisted_scan: true
  default_action: cleanup_or_quarantine
  detect_elf: false
  enable_scan_inotify: true
  enable_scan_modsec: true
  enable_scan_pure_ftpd: true
  max_cloudscan_size_to_scan: 10485760
  max_mrs_upload_file: 10485760
  max_signature_size_to_scan: 1048576
  notify_on_detect: false
  optimize_realtime_scan: false
  rapid_scan: true
  scan_modified_files: null
  sends_file_for_analysis: true
  try_restore_from_backup_first: false
MALWARE_SCAN_INTENSITY:
  cpu: 2
  io: 2
  ram: 2048
  user_scan_cpu: 2
  user_scan_io: 2
  user_scan_ram: 1024
MALWARE_SCAN_SCHEDULE:
  day_of_month: 1
  day_of_week: 0
  hour: 3
  interval: week
MOD_SEC:
  app_specific_ruleset: false
  cms_account_compromise_prevention: false
  prev_settings: 0:RelevantOnly,1:,2:On
  ruleset: FULL
MOD_SEC_BLOCK_BY_CUSTOM_RULE:
  33332:
    check_period: 120
    max_incidents: 10
  33339:
    check_period: 120
    max_incidents: 10
MOD_SEC_BLOCK_BY_SEVERITY:
  check_period: 120
  denied_num_limit: 2
  enable: true
  max_incidents: 2
  severity_limit: 2
NETWORK_INTERFACE:
  eth6_device: null
  eth_device: null
  eth_device_skip: []
OSSEC:
  active_response: true
PAM:
  enable: false
  exim_dovecot_protection: false
  ftp_protection: false
PERMISSIONS:
  allow_malware_scan: false
  support_form: true
  upgrade_button: true
  user_ignore_list: true
PROACTIVE_DEFENCE:
  blamer: true
  mode: LOG
  php_immunity: false
RESOURCE_MANAGEMENT:
  cpu_limit: 2
  io_limit: 2
  ram_limit: 500
SEND_ADDITIONAL_DATA:
  enable: true
SMTP_BLOCKING:
  allow_groups:
  - mail
  allow_local: false
  allow_users: []
  enable: false
  ports:
  - 25
  - 587
  - 465
  redirect: false
STOP_MANAGING:
  modsec_directives: false
WEBSHIELD:
  captcha_secret_key: ''
  captcha_site_key: ''
  enable: true
  known_proxies_support: true
WEB_SERVICES:
  http_ports: []
  https_ports: []
